.banner {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 80vh; /* altura visível do banner */
  overflow: hidden;
  background-color: black;
}

/* Container das slides como flex para empurrar o conteúdo */
.slides {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Cada slide fica absolute, mas o container mantém a altura */
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slides a {
  text-decoration: none;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

/* Mantém o texto centralizado */
.slide-text-container {
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.slide-text {
  font-family: 'Cinzel', serif;
  font-size: 2.5rem;
  font-weight: 500;
  text-shadow: 2px 3px 8px rgba(0,0,0,0.7);
  pointer-events: none;
  user-select: none;
  margin: 10px 0;
  line-height: 1.2;
}

/* Botões e progress bar */
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 20;
}

.prev-btn { right: 47%; }
.next-btn { left: 47% }

.prev-btn img, .next-btn img {
  width: 30px;
  height: 30px;
}

.progress-bar-container {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 9;
}

.progress-bar {
  width: 100px;
  height: 7px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: white;
  border-radius: 5px;
  transition: none;
}

.progress-bar.active::before {
  width: 100%;
  transition: width 5000ms linear;
}

@media (max-width: 768px) {
  .slides, .banner {
    height: 60vh; /* altura visível do banner em telas menores */
  }

  .prev-btn img, .next-btn img {
    width: 20px;
    height: 20px;
  }

  .slides a, .slide-text {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .slides, .banner {
    height: 40vh; /* altura visível do banner em telas menores */
  }
}