.footer-container {
    background-color: #0e2523;
    background-image: url(../img/ondas.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    position: relative;
    max-height: 280px;
    font-family: "Poppins", sans-serif;
}

.footer-sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 23px;
    max-width: 12000px;
    padding-left: 65px;
    padding-right: 25px;
}

.footer-section1 {
    flex: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-section1 .icons-footer {
    display: flex;
    flex-direction: column;
    gap: 0; /* Reduzido para aproximar as images */
    align-items: left;
    margin-top: 0;
    margin: 0px;
}

.footer-section1 .icons-footer img:first-child {
    margin: 40px 0px 70px 0px;
}

.footer-section1 p {
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
    line-height: 1.6;
    margin-bottom: 40px
}

.footer-section2 {
    flex: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 25px;
}

.footer-section2 #tittle-footer {
    font-size: 18px;
    font-weight: 20;
    color: #ffd9a1;
    margin-bottom: 15px;
    
}

.footer-section2 #phone {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.footer-section2 #phone a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-section2 #phone img {
    width: 20px;
}

.footer-section3 {
    flex: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 25px;
}
.po{
    margin-left: 150px;
}
.po2{
    margin-left: 170px;
}
.footer-section3 #tittle-footer {
    font-size: 18px;
    font-weight: 5;
    color: #ffd9a1;
    margin-bottom: 5px;
}

.po, .po2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.po a, .po2 a {
    color: white;
    margin-bottom: 100px;
    text-decoration: none;
}

.footer-section3 #phone {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.footer-section3 #phone a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-section3 #phone img {
    width: 20px;
}


.footer-section4 {
    flex: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 15px;
    margin-left: 150px;
    margin-right: 45px;
}

#footer-img {
    display: none;
}

.footer-section4 #tittle-footer {
    font-size: 18px;
    font-weight: 5;
    color: #fff;
    margin-bottom: 15px;
}

.footer-section4 .social-media {
    display: flex;
    gap: 15px;
    margin-top: 40px;
}

.footer-section5 {
    display: none;
}

#footer-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(43, 43, 43);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#footer-name a {
    text-decoration: none;
    font-size: 12px;
}

.linha{
   width:100%;
   margin-top: -35px;
   background-color: white;
}

.linha2{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: start;
    background-color: white;
 }

@media (max-width: 1024px) {
    .footer-container {
        max-height: none;
    }
    
    .po, .po2, .footer-section4 {
        margin: 0;
    }

    .footer-sections {
        padding: 0;
        max-width: 924px;
        display: flex;
        gap: 50px;
    }

    .footer-container  {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* .footer-section2, .footer-section3 {
        width: 150px;
    } */

    .footer-section1 p {
        width: 300px;
    }

    #tittle-footer {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .footer-sections {
    display: flex;
    gap: 120px;
    width: 668px;
  }

  .footer-section1 {
    order: 1;
    text-align: center;
    position: relative;
  }

  .footer-section4 {
    order: 2;
    margin-top: 115px;
    text-align: center;
    position: absolute;

  }

  .footer-section2 {
    order: 3;
  }

  .footer-section3 {
    order: 4;
  }

  .footer-section1 p,
  .footer-section4 h2,
  .footer-section4 hr {
    display: none;
  }

  .footer-section4 .social-media {
    margin-top: 15px;
    justify-content: center;
  }

  #tittle-footer {
    margin-top: 0;
  }

  .po, .po2 {
    margin-bottom: 30px;
  }

  .footer-section1 .icons-footer img:first-child {
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
    .footer-sections {
        width: 500px;
        display: flex;
        gap: 80px;
    }

    .po2 a, .po a {
        font-size: 13px;
    }

    .icons-footer img {
        width: 150px;
        height: auto;
    }

    .social-media img {
        width: 30px;
    }
}